<a href="#springUrl('/home')"><div id="logo"></div></a>
<h1 class="title">#springMessage("title")</h1>   
<div id="nav">
    <ul>
        <li><a href="#springUrl('/home')">#springMessage("menu.home")</a></li>
        <li><a href="#springUrl('/report')">#springMessage("menu.reports")</a>
            <ul>
                <li><a href="#springUrl('/report/add')">#springMessage("menu.report.add")</a></li>
                <li><a href="#springUrl('/report/search')">#springMessage("menu.report.build")</a>
                    <ul>
                        <li><a href="#springUrl('/report/search')">#springMessage("menu.report.build.search")</a></li>
                        <li><a href="#springUrl('/report/detail')">#springMessage("menu.report.build.detail")</a></li>
                        <li><a href="#springUrl('/registry')">#springMessage("menu.report.build.registry")</a></li>
                    </ul>
                </li>
                <li><a href="#springUrl('/report/realtime')">#springMessage("menu.report.ajax")</a></li>                                
            </ul>
        </li>
        <li><a href="#springUrl('/contact')">#springMessage("menu.contact")</a>
            <ul>
                <li><a href="#springUrl('/instruction')">#springMessage("menu.contact.instructions")</a></li>
                <li><a href="#springUrl('/contact')">#springMessage("menu.contact.contacts")</a></li>
                <li><a href="#springUrl('/about')">#springMessage("menu.contact.about")</a></li>
            </ul>
        </li>
    </ul>
</div>
