<div class="form-container">
    <h2>#springMessage('content.add.title')</h2>

    #springBind("report")
    <p class="error error-block">#springShowErrors("<br/>" "")</p>
    <form name="report-add" action="#springUrl('/report/add')" method="POST">
        #springBind("report.startDate")      
        <div class="form-line clearfix">
            <label for="startDate">#springMessage('content.add.caption.start'):</label>
            <input id="startDate" name="startDate" value="#if(${report.endDate})$dateTool.format('dd MMM yyyy', ${report.startDate})#end" type="text" placeholder="#springMessage('content.add.placeholder.start')" autocomplete="off">                                        
            <label for="startDate" class="error">#springShowErrors("<br/>" "")</label>
        </div>
        #springBind("report.endDate")   
        <div class="form-line clearfix">
            <label for="endDate">#springMessage('content.add.caption.end'):</label>
            <input id="endDate" name="endDate" value="#if(${report.endDate})$dateTool.format('dd MMM yyyy', ${report.endDate})#end" type="text" placeholder="#springMessage('content.add.placeholder.end')" autocomplete="off">
            <label for="endDate" class="error">#springShowErrors("<br/>" "")</label>
        </div>
        #springBind("report.performer")
        <div class="form-line clearfix">
            <label for="performer">#springMessage('content.add.caption.performer'):</label>
            <input id="performer" name="performer" value="$!{report.performer}" type="text" placeholder="#springMessage('content.add.placeholder.performer')">
            <label for="performer" class="error">#springShowErrors("<br/>" "")</label>
        </div>
        #springBind("report.activity")
        <div class="form-line clearfix">
            <label for="activity">#springMessage('content.add.caption.activity'):</label>
            <input id="activity" name="activity" value="$!{report.activity}" type="text" placeholder="#springMessage('content.add.placeholder.activity')">     
            <label for="activity" class="error">#springShowErrors("<br/>" "")</label>
        </div>
        <input name="report-submit" class="btn" value="#springMessage('content.add.button.add')" type="submit">
    </form> 
     
</div>
#set($page_title = 'Add')

<script type="text/javascript">
    document.getElementById("performer").focus();
</script>

#hint()
  