## Add template. Utilizes reports context variable
<div class="form-container" style="width: 100%">
    ## activities list template
    <h2>#springMessage('content.search.list.title')</h2>
    <table class="table">
        <caption>#springMesage('content.search.list.subtitle')</caption>
        <thead>
            <tr>
                <th>id</th>
                <th>#springMessage('content.detail.start')</th>
                <th>#springMessage('content.detail.end')</th>
                <th>#springMessage('content.detail.performer')</th>
                <th>#springMessage('content.detail.activity')</th>
            </tr>
        <tbody>
            #foreach($report in $reports)
            <tr>
                <td>${report.id}</td>
                <td>${report.startDate}</td>
                <td>${report.endDate}</td>
                <td>${report.performer}</td>
                <td>${report.activity}</td>
            </tr>
            <tr>
                <td>${report.id}</td>
                <td>${report.startDate}</td>
                <td>${report.endDate}</td>
                <td>${report.performer}</td>
                <td>${report.activity}</td>
            </tr>
            <tr>
                <td>${report.id}</td>
                <td>${report.startDate}</td>
                <td>${report.endDate}</td>
                <td>${report.performer}</td>
                <td>${report.activity}</td>
            </tr>
            <tr>
                <td>${report.id}</td>
                <td>${report.startDate}</td>
                <td>${report.endDate}</td>
                <td>${report.performer}</td>
                <td>${report.activity}</td>
            </tr>
            <tr>
                <td>${report.id}</td>
                <td>${report.startDate}</td>
                <td>${report.endDate}</td>
                <td>${report.performer}</td>
                <td>${report.activity}</td>
            </tr>
            <tr>
                <td>${report.id}</td>
                <td>${report.startDate}</td>
                <td>${report.endDate}</td>
                <td>${report.performer}</td>
                <td>${report.activity}</td>
            </tr>
            <tr>
                <td>${report.id}</td>
                <td>${report.startDate}</td>
                <td>${report.endDate}</td>
                <td>${report.performer}</td>
                <td>${report.activity}</td>
            </tr>
            <tr>
                <td>${report.id}</td>
                <td>${report.startDate}</td>
                <td>${report.endDate}</td>
                <td>${report.performer}</td>
                <td>${report.activity}</td>
            </tr>
            <tr>
                <td>${report.id}</td>
                <td>${report.startDate}</td>
                <td>${report.endDate}</td>
                <td>${report.performer}</td>
                <td>${report.activity}</td>
            </tr>
            <tr>
                <td>${report.id}</td>
                <td>${report.startDate}</td>
                <td>${report.endDate}</td>
                <td>${report.performer}</td>
                <td>${report.activity}</td>
            </tr>
            <tr>
                <td>${report.id}</td>
                <td>${report.startDate}</td>
                <td>${report.endDate}</td>
                <td>${report.performer}</td>
                <td>${report.activity}</td>
            </tr>
            <tr>
                <td>${report.id}</td>
                <td>${report.startDate}</td>
                <td>${report.endDate}</td>
                <td>${report.performer}</td>
                <td>${report.activity}</td>
            </tr>
            <tr>
                <td>${report.id}</td>
                <td>${report.startDate}</td>
                <td>${report.endDate}</td>
                <td>${report.performer}</td>
                <td>${report.activity}</td>
            </tr>
            <tr>
                <td>${report.id}</td>
                <td>${report.startDate}</td>
                <td>${report.endDate}</td>
                <td>${report.performer}</td>
                <td>${report.activity}</td>
                <!--button group-->
            </tr>     
            <tr>
                <td>${report.id}</td>
                <td>${report.startDate}</td>
                <td>${report.endDate}</td>
                <td>${report.performer}</td>
                <td>${report.activity}</td>
            </tr>                            <tr>
                <td>${report.id}</td>
                <td>${report.startDate}</td>
                <td>${report.endDate}</td>
                <td>${report.performer}</td>
                <td>${report.activity}</td>
        <div class="button-block clearfix hidden">
            <button class="action">#springMessage('button.action.get')</button>
            <button class="action update">#springMessage('button.action.update')</button>          
            <button class="action delete">#springMessage('button.action.delete')</button>
        </div>
        </tr>
        #end
        </tbody>
        </thead>
    </table>
    <button class="action add" onclick="add_modal()">#springMessage('button.action.addnew')</button>    
</div>