<div class="form-container">
    <h2>#springMessage('content.byid.title')</h2>
    <form name="search-report" method="GET" action="#springUrl('/report/detail')">
        <div class="form-line clearfix">
            <label for="id">#springMessage('content.byid.caption'):</label>
            <input id="id" name="id" type="text" value="" class="" placeholder="#springMessage('content.byid.placeholder')" autocomplete="off">                                 
        </div>
        <input name="report-search" class="btn" value="#springMessage('content.byid.button')" type="submit"/>
    </form>
</div>

#hint()
  