## Detail template. Utilizes report context variable
<div class="form-container">
<h2>#springMessage("content.detail.title")</h2>
<dl class="dl-horizontal">
    <dt>id</dt>
    <dd>${report.id}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>#springMessage("content.detail.start")</dt>
    <dd>$dateTool.format('dd MMM yyyy', ${report.startDate})</dd>
</dl>
<dl class="dl-horizontal">
    <dt>#springMessage("content.detail.end")</dt>
    <dd>$dateTool.format('dd MMM yyyy', ${report.startDate})</dd>
</dl>
<dl class="dl-horizontal">
    <dt>#springMessage("content.detail.performer")</dt>
    <dd>${report.performer}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>#springMessage("content.detail.activity")</dt>
    <dd>${report.activity}</dd>
</dl>
<button class="action">#springMessage('button.action.get')</button>
</div>