## Detail template. Utilizes 'performers' context variable
<div class="form-container">
    <h2>#springMessage('content.form.title')</h2>
    <form name="report-request" action="#springUrl('/report/search')" method="POST">
        <div class="form-line clearfix">
            #springBind('startDate')
            <label for="startDate">#springMessage('content.form.caption.start'):</label>
            <input type="text" name="startDate" placeholder="#springMessage('content.form.placeholder.start')" autocomplete="off" onchange="resetPeriodSelect();">
            <label for="startDate" class="error">#springShowErrors("<br/>" "")</label>
        </div>
        <div class="form-line clearfix">
            #springBind('endDate')
            <label for="endDate">#springMessage('content.form.caption.end'):</label>
            <input type="text" name="endDate" placeholder="#springMessage('content.form.placeholder.end')" autocomplete="off" onchange="resetPeriodSelect();">
            <label for="endDate" class="error">#springShowErrors("<br/>" "")</label>
        </div>
        <div class="form-line clearfix">
            #springBind('performer')
            <label for="performer">#springMessage('content.form.caption.performer'):</label>                        
            <select name="performer" auto>
                <option value="" disabled selected>#springMessage('content.form.select.option.default')</option>
                #foreach( $performer in $performers ) 
                <option value="$performer">$performer</option>
                #end
            </select>
            <label for="performer" class="error">#springShowErrors("<br/>" "")</label>
        </div>
        <div class="form-line clearfix">
            <label for="timePeriod">#springMessage('content.form.caption.timeperiod'):</label>
            <select name="timePeriod" onchange="periodChange(this);">
                <option value="none" disabled selected>#springMessage('content.form.period.option.default')</option>                
                <option value="last-qtr">#springMessage('content.form.timeperiod.lastqtr')</option>
                <option value="last-month">#springMessage('content.form.timeperiod.lastmonth')</option>
                <option value="last-calendar-year">#springMessage('content.form.timeperiod.lastyear')</option>
                <option value="current-year-to-date">#springMessage('content.form.timeperiod.yeartodate')</option>
                <option value="current-qtr-to-date">#springMessage('content.form.timeperiod.qtrtodate')</option>
                <option value="current-month-to-date">#springMessage('content.form.timeperiod.monthtodate')</option>
            </select>
        </div>
        <!-- <input type="hidden" name="page" value="next" /> -->
        <input class="btn" type="submit" name="reportSubmit" value="#springMessage('content.form.button.search')"/>
    </form>  
</div>

#set($page_title = 'Search')

#hint()
  