#springMessage("content.nothing.title") <br />
#if($backpath)
    $set($back_url = $backpath)
    <button class="action delete" onclick="javascript: window.location.href='#springUrl($backpath)';">#springMessage('button.action.back')</button>
#{else}
    <button class="action delete" onclick="javascript: window.location.href='#springUrl('/report/search?new_search')';">#springMessage('button.action.back')</button>
#end