<div class="form-container" style="width: 100%">
    ## registry list template
    #if($pager)
    <h2>#springMessage('registry.title')</h2>
    <table class="table">
        <caption>#springMessage('registry.subtitle')</caption>
        <thead>
            <tr>
                <th>id</th>
                <th>#springMessage('registry.table.user')</th>
                <th>#springMessage('registry.table.op')</th>
                <th>#springMessage('registry.table.time')</th>
            </tr>
            </thead>
        <tbody>
        #if($registry)
            #foreach($register in $registry)
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user.fullname}</td>
                <td>${registry.op.title}</td>
                <td>${report.recordTime}</td>
            </tr>        
            #end
        #end
        </tbody>        
    </table>
    #else
        #springMessage('content.notfound')
    #end

    #if($pager)
        #if($pager.getPageCount() gt 1)
            #pager_lazy()    
        #end
    #end
</div>