<div class="form-container" style="width: 100%">
    ## registry list template
    #if($pager)
    <h2>#springMessage('registry.title')</h2>
    <table class="table">
        <caption>#springMessage('registry.subtitle')</caption>
        <thead>
            <tr>
                <th>id</th>
                <th>#springMessage('registry.table.user.fullname')</th>
                <th>#springMessage('registry.table.op.title')</th>
                <th>#springMessage('registry.table.time')</th>
            </tr>
            </thead>
        <tbody>
        #if($registry)
            #foreach($register in $registry)
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>        
            #end
        #end
        </tbody>        
    </table>
    #else
        #springMessage('content.notfound
+








3,00000000000000000000,0')
    #end
    #if($pager)
        #if($pager.getPageCount() gt 1)
            #pager()    
        #end
    #end
</div>