## Real-time search template
<div class="form-container">
    <h2>#springMessage('content.search.title')</h2>
    <form name="search-form" method="POST" action="#springUrl('/report/suggest')" >       
            <input type="button" name="search-button" id="search_button" />
            <input type="text" name="search" value="" placeholder="#springMessage('content.search.placeholder')" />
            <ul class="subnav">
                <li><a href="#">#springMessage('content.search.nothing')</a></li>
            </ul>       
    </form>
    <p class="stats"><span>#springMessage('content.search.result'): 419 (0,10 #springMessage('content.search.second').) </span></p>    
</div>

#hint()

<div class="results-wrap">
  
</div>

<script type="text/javascript">

    /*
     * Dynamic html elements
     */
    var tableHtml = "#dynamic_table()";
    var rowHtml = "#dynamic_row()";
    vat buttonHtml = "dynamic_button_group()";
    
    /*
     * Suggest url
     */
    var promptUrl = "#springUrl('/report/suggest/ajax/prompt')";
    var suggestUrl = "#springUrl('/report/suggest/ajax')";
    var limit = 8;

#[[
    /*
     * Search Button action
     */
    $("#search_button").click(function(e) {
        /*
         * query string
         */
        var query = '?query=' + encodeURI($("input[name='search']").val().trim()
            + '&limit=' + limit);
        //TODO: timings
        $.ajax(suggestUrl, {
            method: "GET",
            async: true,
            cache: false,
            data: query,
            complete: onSuggestComplete, 
            dataType: 'json'
        });
    });

    function onSuggestComplete(data) {

    }

    $(document).ready(function() {
        
    });
]]#
</script>