## Reports! Modal Velocity Macros

#*
 * Uses 'uri' variable from the context was called to show uri 
 *#
#macro ( modal_uri $uri )
    <h2>#springMessage('modal.reporturi'):</h2> \
    <input type="text" value="$uri" style="width: 320px;"> \
    <div class="modal-block"> \
        <div class="button-block-modal"> \
            <button id="close-btn" class="action delete">#springMessage('button.close')</button> \
        </div> \
    </div> \
#end

#*
 * Uses 'report' and 'uri' variable from the context was called to construct
 * detailed information 
 *#
#macro ( modal_action $report $uri )
<h2>#springMessage('content.activity') №${report.id}</h2>
<dl class="dl-horizontal">
    <dt>id</dt>
    <dd>${report.id}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>start of activity</dt>
    <dd>${report.startDate}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>end of activity</dt>
    <dd>${report.endDate}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>performer</dt>
    <dd>${report.performer}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>activity</dt>
    <dd>${report.activity}</dd>
</dl>
<input type="text" value="${uri}" name="uri" style="width:100%;"><br />
<div class="modal-block">
    <div class="button-block-modal">
        <button class="action delete">#springMessage('button.close')</button>
    </div>
</div>
#end

#*
 * Utilizes 'report' variable from the context to fill in entered fields if
 * validation fails
 *#
#macro ( modal_add $report )
<h2>#springMessage('content.add.title')</h2>

#springBind("report")
<p class="error error-block">#springShowErrors("<br/>" "")</p>
<form name="report-add" action="#springUrl('/report/add')" method="POST">
    #springBind("report.startDate")      
    <div class="form-line clearfix">
        <label for="startDate">#springMessage('content.add.caption.start'):</label>
        <input id="startDate" name="startDate" value="#if(${report.endDate})$dateTool.format('dd MMM yyyy', ${report.startDate})#end" type="text" placeholder="#springMessage('content.add.placeholder.start')" autocomplete="off">                                        
        <label for="startDate" class="error">#springShowErrors("<br/>" "")</label>
    </div>
    #springBind("report.endDate")   
    <div class="form-line clearfix">
        <label for="endDate">#springMessage('content.add.caption.end'):</label>
        <input id="endDate" name="endDate" value="#if(${report.endDate})$dateTool.format('dd MMM yyyy', ${report.endDate})#end" type="text" placeholder="#springMessage('content.add.placeholder.end')" autocomplete="off">
        <label for="endDate" class="error">#springShowErrors("<br/>" "")</label>
    </div>
    #springBind("report.performer")
    <div class="form-line clearfix">
        <label for="performer">#springMessage('content.add.caption.performer'):</label>
        <input id="performer" name="performer" value="$!{report.performer}" type="text" placeholder="#springMessage('content.add.placeholder.performer')">
        <label for="performer" class="error">#springShowErrors("<br/>" "")</label>
    </div>
    #springBind("report.activity")
    <div class="form-line clearfix">
        <label for="activity">#springMessage('content.add.caption.activity'):</label>
        <input id="activity" name="activity" value="$!{report.activity}" type="text" placeholder="#springMessage('content.add.placeholder.activity')">     
        <label for="activity" class="error">#springShowErrors("<br/>" "")</label>
    </div>
    <div class='clearfix'>
        <div class='button-block-modal'>
            <button class="action" name="report-submit" type="submit">#springMessage('button.add')</button>
            <button class="action delete">#springMessage('button.close')</button>
        </div>
    </div>    
</form>        
#end

#*
 * Utilizes 'report' variable from the context to fill in field values based 
 * on current report values
 *#
#macro (modal_update $report)
<h2>#springMessage('content.update.title')</h2>

#springBind("report")
<p class="error error-block">#springShowErrors("<br/>" "")</p>
<form name="report-add" action="#springUrl('/report/add')" method="POST">
    #springBind("report.startDate")      
    <div class="form-line clearfix">
        <label for="startDate">#springMessage('content.add.caption.start'):</label>
        <input id="startDate" name="startDate" value="#if(${report.endDate})$dateTool.format('dd MMM yyyy', ${report.startDate})#end" type="text" placeholder="#springMessage('content.add.placeholder.start')" autocomplete="off">                                        
        <label for="startDate" class="error">#springShowErrors("<br/>" "")</label>
    </div>
    #springBind("report.endDate")   
    <div class="form-line clearfix">
        <label for="endDate">#springMessage('content.add.caption.end'):</label>
        <input id="endDate" name="endDate" value="#if(${report.endDate})$dateTool.format('dd MMM yyyy', ${report.endDate})#end" type="text" placeholder="#springMessage('content.add.placeholder.end')" autocomplete="off">
        <label for="endDate" class="error">#springShowErrors("<br/>" "")</label>
    </div>
    #springBind("report.performer")
    <div class="form-line clearfix">
        <label for="performer">#springMessage('content.add.caption.performer'):</label>
        <input id="performer" name="performer" value="$!{report.performer}" type="text" placeholder="#springMessage('content.add.placeholder.performer')">
        <label for="performer" class="error">#springShowErrors("<br/>" "")</label>
    </div>
    #springBind("report.activity")
    <div class="form-line clearfix">
        <label for="activity">#springMessage('content.add.caption.activity'):</label>
        <input id="activity" name="activity" value="$!{report.activity}" type="text" placeholder="#springMessage('content.add.placeholder.activity')">     
        <label for="activity" class="error">#springShowErrors("<br/>" "")</label>
    </div>
    <div class='clearfix'>
        <div class='button-block-modal'>
            <button class="action" name="report-submit" type="submit">#springMessage('button.action.update')</button>
            <button class="action delete">#springMessage('button.close')</button>
        </div>
    </div>
</form>        
#end

#*
 * Utilizes 'report' variable from the context to show detailed information 
 *#
#macro ( modal_delete $report )
<h2>#springMessage('content.activity') №${report.id}</h2>

<h2>#springMessage("content.detail.title")</h2>
<dl class="dl-horizontal">
    <dt>id</dt>
    <dd>${report.id}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>#springMessage("content.detail.start")</dt>
    <dd>$dateTool.format('dd MMM yyyy', ${report.startDate})</dd>
</dl>
<dl class="dl-horizontal">
    <dt>#springMessage("content.detail.end")</dt>
    <dd>$dateTool.format('dd MMM yyyy', ${report.startDate})</dd>
</dl>
<dl class="dl-horizontal">
    <dt>#springMessage("content.detail.performer")</dt>
    <dd>${report.performer}</dd>
</dl>
<dl class="dl-horizontal">
    <dt>#springMessage("content.detail.activity")</dt>
    <dd>${report.activity}</dd>
</dl>
</div>
<div class="clearfix">
    <span class='modal-span'>#springMessage('modal.delete.assure')</span>
    <div class="button-block-modal">
        <button class="action">#springMessage('content.yes')</button>
        <button class="action delete">#springMessage('content.no')</button>
    </div>
</div>
#end