<div class="form-container" style="width: 100%">
    ## registry list template
    <h2>List of operations</h2>
    <table class="table">
        <caption>Reports! registry</caption>
        <thead>
            <tr>
                <th>id</th>
                <th>user</th>
                <th>operation</th>
                <th>record time</th>
            </tr>
        <tbody>
            #foreach($register in $registry)
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>
            <tr>
                <td>${registry.id}</td>
                <td>${registry.user}</td>
                <td>${registry.op}</td>
                <td>${report.recordTime}</td>
            </tr>
            #end
        </tbody>
        </thead>
    </table>
</div>