<select name="performer" autofocus=""></select>

<input type="hidden" name="page" value="3" />

<div class="pagination clearfix">  
    <ul class="clearfix">
        <li><a href="/?page=prev">«</a></li>
        <li><a href="/?page=1" class="active">1</a></li>
        <li><a href="/?page=2">2</a></li>
        <li><a class="current" href="/?page=3">3</a></li>
        <li><a href="/?page=4">4</a></li>
        <li><a class="disabled" href="/?page=5">5</a></li>
        <li class="spacer">…</li>
        <li><a href="/?page=500">500</a></li>
        <li><a href="/?page=next">»</a></li>
    </ul>
</div>