## sample
    #set($text = "WFT is going on?")
    #springMessageText($msg $text)
## form
    #springFormInput("command.startdate" "")
    #springFormHiddenInput("command.enddate" "")
    #springFormPasswordInput("command.passwordsadmin" "")
    #springFormTextArea("command.textareaaa" "")
    
    #set($performers = ["1", "2", "3"])
    #springSingleSelect("command.performers" $performers "")
    #set($ranges = ["year", "quarter", "month"])
    #springFormMultiSelect("command.range" $ranges "")
    #springFormRadioButtons("command.way" "one,two" "," "")
    #springFormCheckboxes("command.rememberme" "rememberme" "," "")
    #springShowError("." "red")

    


